<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
        .forgot-password {
            text-align: right;
            margin-top: 6px;
            margin-bottom: 12px;
        }

        .forgot-password a {
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
        }

        .forgot-password a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Login</h2>

    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/login}" method="post">
        <label>Email</label>
        <input type="email" name="username" class="form-control" required>

        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
        <button type="submit" class="btn btn-success">Login</button>
        <p>New user? <a th:href="@{/register}">Register</a></p>
        <div class="forgot-password">
            <a th:href="@{/forgot-password}">Forgot Password?</a>
        </div>
    </form>
</div>
</body>
</html>
